{# comentario twig #}
{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css')}}"/>
{% endblock %}
    
{% block body %}
    <div class="panel panel-primary">
        {% for post in pagination %}
        <div class="jumbotron p-4 p-md-5 mt-5 text-dark rounded">
            <div class="col-md-12 px-0">
                <h2 class="display-4 font-italic text-center">{{ post.title }}</h2>
                {% if post.publishedAt is not null %}
                    <h5 class="float-left text-primary font-italic"> De {{ post.author }}</h5>
                    <h5 class="text-right text-primary font-italic"> Publicado {{ post.publishedAt|date('d/m/Y') }}</h5>
                {% else %}
                    <h5 class="float-left text-primary font-italic">De {{ post.author }}</h5>
                {% endif %}
                <p class="lead my-3">{{ post.content[:500]|raw }}</p>
                <a href="{{ path('app_post_view',{'id':post.id}) }}"
                   class="btn btn-sm btn-info float-right">Ver más</a>
            </div>
        </div>
        {% endfor %}
        {# display navigation #}
        <div class="container-fluid">
            <div class="pagination justify-content-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
{% block footer %}
<h6>Footer</h6>
{% endblock %}