{# comentario twig #}
{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css')}}"/>
{% endblock %}
    
{% block body %}
    {# {{ dump() }} #}
    <!--<h1>Blog</h1>-->
    <div class="panel panel-primary">
        <br>
        <!--<h2>Listado de Post</h2>-->
        {% for post in pagination %}
        <div class="jumbotron p-4 p-md-5 text-dark rounded">
            <div class="col-md-6 px-0">
                <h2 class="display-4 font-italic">{{ post.title }}</h2>
                {% if post.publishedAt is not null %}
                    <p class="text-secondary font-italic">{{ post.publishedAt|date('d/m/Y') }} por {{ post.author }}</p>
                {% else %}
                    <p class="text-secondary font-italic">{{ post.author }}</p>
                {% endif %}
                <p class="lead my-3">{{ post.content[:500]|raw }}</p>
                <!--<a href="#" class="stretched-link">Leer más</a>-->
                <a href="{{ path('app_post_view',{'id':post.id}) }}" class="btn btn-sm btn-info">Ver más</a>
            </div>
        </div>
        {% endfor %}
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        <hr>
    </div>
{% endblock %}
{% block footer %}
<h6>Footer</h6>
{% endblock %}