<fieldset>
    {{form_start(form,{method: 'POST', action: path('app_comment_new', {'id': post.id})})}}
    <div class="form_row">
        {{ form_label(form.comment, 'Nuevo Comentario') }}
        {{ form_widget(form.comment) }}
        <span class="text-danger">{{ form_errors(form.comment) }}</span>
    </div>
    <hr>
    <p><input type="submit" class="btn btn-success" value="Publicar Comenario"></p>
    {{ form_end(form) }}
</fieldset>