{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="panel panel-primary">
        <h2>Users Administration</h2>
        <table class="table table-stripped table-middle-aligned">
            <thead class="thead-dark">
                <th>Email</th><th>Role</th><th>Active</th><th>Actions</th>
            </thead>
            {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    {% for rol in user.roles %}
                        {{ rol }}
                    {% endfor %}
                </td>
                <td>{% if(user.isActive==0) %}
                        {{ "No" }}
                    {% else %}
                        {{ "Si" }}
                    {% endif %}
                </td>
                <td class="actions">
                    <a href="{{ path('app_admin_user_view',{'id':user.id}) }}" class="btn btn-sm btn-info">Ver</a>
                    <a href="{{ path('app_admin_user_edit',{'id':user.id}) }}" class="btn btn-sm btn-primary">Editar</a>
                    <a href="{{ path('app_admin_user_delete',{'id':user.id}) }}" class="btn btn-sm btn-danger btn-delete">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
            <hr>
            <a href="{{ path('app_admin_user_new') }}" class="btn btn-primary btn-md">Add user</a>

        </div>
    {% endif %}
{% endblock %}
