{% extends 'base.html.twig' %}

{% block body %}
        <div class="well">
            <h2>{{ post.title }}</h2>
            <br>
            <dl>
                <dt>Contenido Post</dt>
                <dd>
                    {{ post.content|raw }}
                </dd>
                <dt>Autor</dt>
                <dd>
                    {{ post.author }}
                </dd>
                <dt>Fecha de creación</dt>
                <dd>
                    {% if post.createdAt is not null %}
                        {{ post.createdAt|date('d/m/Y') }}
                    {% endif %}
                </dd>
                <dt>Fecha de publicación</dt>
                <dd>
                    {% if post.publishedAt is not null %}
                        {{ post.publishedAt|date('d/m/Y') }}
                    {% else %}
                        {{ "No publicado aún" }}
                    {% endif %}
                </dd>
                <dt>Fecha de modificación</dt>
                <dd>
                    {% if post.modifiedAt is not null %}
                        {{ post.modifiedAt|date('d/m/Y') }}
                    {% endif %}
                </dd>
                {% if post.tags is not empty %}
                    <dt>Etiquetas</dt>
                    {% for etiqueta in post.tags %}
                        <dd>{{ etiqueta.tag }}</dd>
                    {% endfor %}
                {% endif %}
                {% if post.comments is not empty %}
                    <dt>Comentarios</dt>
                    {% for comentario in post.comments %}
                        <dd>{{ comentario.comment }}</dd>
                    {% endfor %}
                {% endif %}
            </dl>
            <hr>
            {% if is_granted('IS_AUTHENTICATED_FULLY') and post.publishedAt is not null  %}
                <p>
                <a href="{{ path('app_comment_new',{'id':post.id}) }}" class="btn btn-primary btn-lg">Comentar</a>
                </p>
            {% endif %}
            <!--<p>
                <a href="{#{ path('app_post_edit',{'id':post.id}) }#}" class="btn btn-sm btn-primary">Editar</a>
            </p>-->
        </div>
{% endblock %}